<!DOCTYPE html>
<html lang="en" th:fragment="html"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragment :: head"></head>
<body>
    <div class="containerPrincipal">
        <div th:insert="fragments/fragment :: header"></div>
        <div class="containerDroit">
            <div class="enTete">
                <div></div>
                <ul style="float: inline-end;">
                    <a href="/users" class="lien-menu">
                        <li ><img src="/fontawesome/svgs/solid/backward.svg" alt="">Retour</li>
                    </a>
                </ul>
            </div>
            <form action="">
                <h2 style="margin: 10px;">Modifier l'utilisateur - 343434</h2>
                <div class="form-group">
                    <input type="text" name="pseudo" id="pseudo" placeholder="PSEUDO:">
                </div>
                <div class="form-group">
                    <input type="password" name="ancienMotDePasse" id="ancienMotDePasse" placeholder="ANCIEN MOT DE PASSE:">
                </div>
                <div class="form-group">
                    <input type="password" name="nouveauMotDePasse" id="nouveauMotDePasse" placeholder="NOUVEAU MOT DE PASSE:">
                </div>
                <div class="form-group">
                    <input type="password" name="confirmNouveauMotDePasse" id="confirmNouveauMotDePasse" placeholder="COMFIRMER NOUVEAU MOT DE PASSE:">
                </div>
                <div class="form-group group-button" style="margin: -5px;margin-top: 10px;">
                    <a href="/users" class="lien-menu">
                        <button id="annuler">Annuler</button>
                    </a>
                    <button id="enregistrer">Enregistrer</button>
                </div>
            </form>
          
        </div>
    </div>
</body>
</html>