<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <title>Title</title>
</head>
<body>

<div class="containerGauche" th:fragment="header">
  <div class="up">
    <h1><img id="iconsEtab" src="/icons/school-solid.svg" alt="">Mon Etab</h1>
    <div class="separateur"></div>
    <hr>
    <ul>
        <a href="/home" class="lien-menu">
            <li class="menuHorizontal"><img src="/fontawesome/svgs/solid/square-poll-horizontal.svg" alt="">Tableau de bord</li>
        </a>
        <a href="/students" class="lien-menu">
            <li  class="menuHorizontal"><img src="/fontawesome/svgs/solid/user-large-slash.svg" alt="">Eleves</li>
        </a>
        <a href="/teachers" class="lien-menu">
            <li  class="menuHorizontal"><img src="/fontawesome/svgs/solid/person-chalkboard.svg" alt="">Professeurs</li>
        </a>
        <a href="/users" class="lien-menu">
            <li  class="menuHorizontal"><img src="/fontawesome/svgs/solid/user.svg" alt="">Utilisateurs</li>
        </a>
        <a href="/reports" class="lien-menu">
            <li  class="menuHorizontal"><img src="/fontawesome/svgs/solid/chart-pie.svg" alt="">Rapport</li>
        </a>

    </ul>
  </div>
  <div class="separateur" id="separateur"></div>
  <ul>
    <a href="/" class="lien-menu">
      <li   id="logout"><img src="/fontawesome/svgs/solid/right-from-bracket.svg" alt="">Déconnexion</li>
    </a>
  </ul>
</div>
</div>

    <th:block th:fragment="script_fragment">
        <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
        <script th:src="@{http://localhost:35729/livereload.js}"></script>
        <script th:src="@{/fontawesome/js/all.js}"></script>
    </th:block>

</body>
</html>
</body>
</html>