<!DOCTYPE html>
<html lang="en" th:fragment="html"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragment :: head"></head>
<body>
    <div class="containerPrincipal">
        <div th:insert="fragments/fragment :: header"></div>
        <div class="containerDroit">
            <div class="enTete">
                <div></div>
                <ul style="float: inline-end;">
                    <a href="/students" class="lien-menu">
                        <li ><img src="/fontawesome/svgs/solid/backward.svg" alt="">Retour</li>
                    </a>
                </ul>
            </div>
            <form action="">
                <h2 style="margin: 10px;">Ajouter un élève</h2>
                <div class="form-group">
                    <input type="text" name="nom" id="nom" placeholder="NOM:">
                    <input type="text" name="prenom" id="prenom" placeholder="PRENOM:">
                </div>
                <div class="form-group">
                    <input type="text" name="matricule" id="matricule" placeholder="MATRICULE:">
                    <input type="text" name="telephone" id="telephone" placeholder="TELEPHONE:">
                </div>
                <div class="form-group">
                    <input type="text" name="ville" id="ville" placeholder="VILLE:">
                    <input type="date" name="calendrier" id="calendrier">
                </div>
                <div class="form-group group-radio" style="margin: 10px;">
                    <div class="homme">
                        <label for="genre">homme</label>
                        <input type="radio" name="genre" id="genre">
                    </div>
                    <div class="femme">
                        <label for="genre">femme</label>
                    <input type="radio" name="genre" id="genre">
                    </div>
                </div>
                <div class="form-group">
                    <select name="classe" id="classe">
                        <option value="">Sélectionner une classe</option>
                        <option value="classe1">classe1</option>
                        <option value="classe2">classe2</option>
                        <option value="classe3">classe3</option>
                    </select>
                </div>
                <div class="form-group group-button" style="margin: 10px;">
                    <a href="/students" class="lien-menu">
                        <button id="annuler">Annuler</button>
                    </a>
                    <button id="enregistrer">Enregistrer</button>
                </div>
            </form>
          
        </div>
    </div>
</body>
</html>