<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Mon Etab</title>

    <!-- Custom fonts for this template-->
    <link
            href="/vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <th:block th:insert="fragments/fragment :: sideBar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div class="p-5">
                <div class="text-center d-flex justify-content-between">
                    <h1 class="h4 text-gray-900 mb-4">Ajouter un eleve</h1>
                    <div>
                        <a href="/students" class="btn btn-info">Retour</a>
                    </div>
                </div>
                <form class="user">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                   placeholder="Nom">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" id="exampleLastName"
                                   placeholder="Prenom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user"
                                   placeholder="Matricule">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user"
                                   placeholder="Telephone">
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user"
                                   id="exampleInputPassword" placeholder="Ville">
                        </div>
                        <div class="col-sm-6">
                            <input type="date" class="form-control form-control-user"
                                   id="exampleRepeatPassword" >
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        <div class="homme">
                            <label for="genre">homme</label>
                            <input type="radio" name="genre" id="genre" class="form-radio">
                        </div>
                        <div class="femme">
                            <label for="genre">femme</label>
                            <input type="radio" name="genre" id="genre" class="form-radio">
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="classe" id="classe" class="form-control" >
                            <option value="">Sélectionner une classe</option>
                            <option value="classe1">classe1</option>
                            <option value="classe2">classe2</option>
                            <option value="classe3">classe3</option>
                        </select>
                    </div>
                    <a href="/students" class="btn btn-danger btn-user ">
                        Annuler
                    </a>
                    <a href="" class="btn btn-success btn-user ">
                        Enregistrer
                    </a>
                    <hr>

                </form>

            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
</body>
</html>
